body {
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  box-sizing: border-box;
}
.animation-button {
  background-color: rgba(253, 163, 163, 1);
}
@keyframes change-color {
  0% {
    background-color: rgba(253, 163, 163, 0.1);
  }
  50% {
    background-color: rgba(253, 163, 163, 0.5);
  }
  100% {
    background-color: rgba(253, 163, 163, 1);
  }
}
